
<b><h2> method</h2></b>

In [ ]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39],['carry',37.21]]

In [ ]:
name_list = []
st_mark = []
for _ in range(int(input())):
    name = input()
    name_list.append(name)
    score = float(input())
    st_mark.append(score)

In [ ]:
l1,l2=zip(*sorted(zip(st_mark,name_list)))
st_mark=list(l1)
name_list=list(l2)
print(st_mark,name_list)

In [ ]:
min1 = st_mark[0]
x = 0
final = []
for i in range(1, len(st_mark)):
    if(st_mark[i] == min1):
        if(x == 1):
            final.append(name_list[i])
    else:
        x = x+1
        if(x == 1):
            final.append(name_list[i])
        min1 = st_mark[i]

In [ ]:
final=sorted(final, key=str.lower)
final



<b><h2>method</h2></b>

In [ ]:
# <ol>
# <li>Fish</li>
# <li>Eggs</li>
# <li>Cheese</li>
# </ol>

In [101]:
students = [['Harry', 37.21],["heli",39],['nik',37.2], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39],['carry',37.21]]

In [102]:
name_list1 = []
st_mark1 = []
for i in students:
    name_list1.append(i[0])
    st_mark1.append(i[1])

In [103]:
name_list1

['Harry', 'heli', 'nik', 'Berry', 'Tina', 'Akriti', 'Harsh', 'carry']

In [104]:
st_mark1

[37.21, 39, 37.2, 37.21, 37.2, 41, 39, 37.21]

In [105]:
l1,l2=zip(*sorted(zip(st_mark1,name_list1)))
st_mark1=list(l1)
name_list1=list(l2)
print(st_mark1,name_list1)

[37.2, 37.2, 37.21, 37.21, 37.21, 39, 39, 41] ['Tina', 'nik', 'Berry', 'Harry', 'carry', 'Harsh', 'heli', 'Akriti']

In [106]:
def Lowest_number(st_mark1,name_list1,number):
    x=0
    for i in range(number):
        l1=[]
        l1.append(x)
        y=x+1
        if(y==len(st_mark1)):
            break
        else:
            while(st_mark1[x]==st_mark1[y]):
                l1.append(y)
                y+=1
        x=y
    return l1

In [109]:
m=Lowest_number(st_mark1,name_list1,3)
for i in m:
    print(name_list1[i])

Harsh
heli